html, body{
    height: 100%;
    width: 100%;
}

ul li{
    list-style: none;
}

.customer-list{
    display: contents;
}

.customer-wrapper {
    border-radius: 5px;
    background: #40a2ff;
    color: white;
    margin-bottom: 7px;
}

.customer-content {
    display: flex;
    min-height: 100px;
    font-weight: bold;
    box-shadow: -2px 2px 6px -2px black;
    border-radius: 5px;
}

.customer-header {
    width: 60%;
    background: #4192de;
}

.customer-body {
    width: 100%;
}

.c_1{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.c_2{
    display: table-cell;
    vertical-align: middle;
}

li:nth-child(even) .customer-wrapper{
    background: #2a4d6f;
}

li:nth-child(even) .customer-wrapper .customer-content .customer-header{
    background: #274563;
}

li:nth-child(odd) .customer-wrapper{
    background: #366490;
}

li:nth-child(odd) .customer-wrapper .customer-content .customer-header{
    background: #2b5884;
}

.customer-div{
    height: 80%;
    overflow-y: scroll;
}

.error-wrapper {
    text-align: center;
    height: 100%;
    display: table;
    width: 100%;
}

.error-content {
    display: table-cell;
    vertical-align: middle;
}

.current-loc-wrapper {
    background: #28c785;
    padding: 15px;
    color: white;
}

div#message {
    text-align: center;
}

div#returnmessage h4 {
    color: #404040;
    /*margin-top: 15px;*/
}

div#icon {
    color: #18d88a;
    margin-top:5px
}

#infomessage div.modal-header h5{
    color: white;
}

#infomessage div.modal-content {
    border: 0;
}

.modalwrapper{
    display: table;
    height: 100%;
    width: 90%;
    margin: auto;
}

.modalwrapper1{
    display: table;
    height: 100%;
    width: 100%;
    margin: auto;
}

#infomessage .modal-dialog{
    display: table-cell;
    vertical-align: middle;
}

#close{
    font-size: 25px;
    line-height: 0.75;
}

.ddd{
    background: #2ac787;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
}

.tradechannel-wrapper{
    height: 100%;
    display: table;
    width: 100%;
}

.tradechannel-sub {
    display: table-cell;
    vertical-align: middle;
}

.tradechannel-list {
    display: grid;
    text-align: center;
    grid-gap: 10px;
}

.tradechannel-list div{
    background: #2ac787;
    padding: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.tradechannel-list div:nth-child(1){
    background: #2196F3;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(2){
    background: #FF9800;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(3){
    background: #FF5722;
    box-shadow: 5px 8px 25px -10px black;
    font-size: 15px;
}

.tradechannel-list div:nth-child(4){
    background: #2196f3;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(5){
    background: #ff9800;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(6){
    background: #ff5722;
    box-shadow: 5px 8px 25px -10px black;
    font-size: 15px;
}

.tradechannel-list div:nth-child(7){
    background: #2196f3;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(8){
    background: #ff9800;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(9){
    background: #ff5722;
    box-shadow: 5px 8px 25px -10px black;
}

.tradechannel-list div:nth-child(10){
    background: #2196f3;
    box-shadow: 5px 8px 25px -10px black;
    font-size: 15px;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}